<HierarchyTop>
  <BaseModuleName>top</BaseModuleName>
  <ImmutableParameters></ImmutableParameters>
  <InstanceName>top</InstanceName>
  <Parameters>
    <ParameterItem>
      <Doc></Doc>
      <Name>VERIF_MODE</Name>
      <Range>
        <List>ON</List>
        <List>OFF</List>
      </Range>
      <Val>ON</Val>
    </ParameterItem>
    <ParameterItem>
      <Doc></Doc>
      <Name>SYNTH_MODE</Name>
      <Range>
        <List>ON</List>
        <List>OFF</List>
      </Range>
      <Val>OFF</Val>
    </ParameterItem>
  </Parameters>
  <SubInstances>
    <SubInstanceItem>
      <BaseModuleName>CascadeFPMult</BaseModuleName>
      <ImmutableParameters></ImmutableParameters>
      <InstanceName>CascadeFPMult_u</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>Width of the signal for the multiplier (default is IEEE Double, 52 bit)</Doc>
          <Name>SignalWidth</Name>
          <Range>
            <Min>4</Min>
            <Step>1</Step>
          </Range>
          <Val>52</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc>Width of the signal for the multiplier (default is IEEE Double, 11 bit)</Doc>
          <Name>ExponentWidth</Name>
          <Range>
            <Min>4</Min>
            <Step>1</Step>
          </Range>
          <Val>11</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc>Enable denormal? (Fixme: Sameh, please put a better explanation for this one)</Doc>
          <Name>EnableDenormals</Name>
          <Range>
            <List>ON</List>
            <List>OFF</List>
          </Range>
          <Val>ON</Val>
        </ParameterItem>
      </Parameters>
      <SubInstances>
        <SubInstanceItem>
          <BaseModuleName>CompoundAdder</BaseModuleName>
          <ImmutableParameters>
            <ParameterItem>
              <Doc>FIXME Sameh: what does this param do?</Doc>
              <Name>ZeroWidth</Name>
              <Range>
                <Min>0</Min>
                <Step>1</Step>
              </Range>
              <Val>0</Val>
            </ParameterItem>
            <ParameterItem>
              <Doc>Width of signals to be added</Doc>
              <Name>Width</Name>
              <Range>
                <Min>2</Min>
                <Step>1</Step>
              </Range>
              <Val>13</Val>
            </ParameterItem>
            <ParameterItem>
              <Doc>FIXME Sameh: what does this param do?</Doc>
              <Name>EnableCarryIn</Name>
              <Range>
                <List>ON</List>
                <List>OFF</List>
              </Range>
              <Val>OFF</Val>
            </ParameterItem>
          </ImmutableParameters>
          <InstanceName>ExpAdd</InstanceName>
          <Parameters></Parameters>
          <SubInstances></SubInstances>
          <UniqueModuleName>CompoundAdder_unq1</UniqueModuleName>
        </SubInstanceItem>
      </SubInstances>
      <UniqueModuleName>CascadeFPMult_unq1</UniqueModuleName>
    </SubInstanceItem>
  </SubInstances>
  <UniqueModuleName>top</UniqueModuleName>
</HierarchyTop>
